script.
  chart.data.labels = "#{data.time}".split(",")
  chart.data.datasets[0].data = "#{data.power}".split(",")
  chart.data.datasets[1].data = "#{data.temperature}".split(",")
  chart.data.datasets[2].data = "#{data.setpoint}".split(",")
  chart.update()
