doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1")
    title PID
    link(rel="stylesheet" href="/css/output.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins")
    script(src="https://unpkg.com/htmx.org@1.9.6")
    script(src="https://unpkg.com/hyperscript.org@0.9.11")
    block head
  body(class=`bg-ctp-crust text-ctp-text`)
    block body
